table.table1 {width : 950px;  border: 2px solid #000066; border-spacing: 0; background-color: #FFFFFF; }
table.table1 td, th { border: 1px solid #000066; padding: 5px; }
table.table1 caption {font-weight: bold; font-size: 1.2em; padding-bottom: 5px; }